* {
  box-sizing: border-box;
  color: rgb(223, 219, 219);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}



body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

}

p {
  margin: 0;
  font-style: normal;
  text-shadow: none;
  color: black;
}


.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}

.left,
.right {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.right {
  color: white;
  font-size: 18px;
  padding: 10px;
  justify-content: flex-end;

}

.right a {
  color: white;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  font-family: arial;

}

.left {
  color: black;
  font-size: 16px;
  padding: 15px;
  justify-content: flex-start;
}


/*need to understand this part of the code - avatar image- and why it doesnt work properly*/



.left .avatar1 {
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  align-self: center;
}


.hero-banner {
  margin-top: 20px;
  height: 500px;
  width: auto;
  background-image: url("../images/02-hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;

}

#SpecialText {
  font-size: xx-large;
}



#about {
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 225, 225);
  padding: 20px;


}

#work {
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 225, 225);
  padding: 20px;

}


#workright {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "project1  project1"
    "project2  project3"
    "project4  project5";
}





.Project1 {
  grid-area: project1;
  background-image: url("../images/02-portfolio-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.Project2 {
  grid-area: project2;
}


.Project3 {
  grid-area: project3;
}


.Project4 {
  grid-area: project4;
}

.Project5 {
  grid-area: project5;
}




#contact {
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 225, 225);
  padding: 20px;
}



.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  height: 100px;
  color: rgb(223, 219, 219);
}

.footer a {
  padding: 20px 40px;

}